{# empty Twig template #}

{% extends '::base.html.twig' %}

{% block body %}

<!-- Modification d'une maison -->
<div id="container_afficher_personnage">
	Modifier La maison
{{ form(form) }}
</div>


{% endblock %}