html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {del
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #d2e9f1;
	font-family: 'Arial', sans-serif;
}
hr{
		border:1px solid #12719d;
		margin: 20px 0px 20px 0px;
		width: 100%;
}
.row{
	 display: block;
	 clear: both;
	 overflow: hidden;
}
header,footer {
	width: 100%;
	background-color: #B8D9E2;
	height: 80px;
	margin: 50px 0px;
	clear: both;
	padding-top: 40px;
}
#logo {
	margin: auto;
	width: 120px;
}
#logo img{
	width: 120px;
}
#searchit {
	float: right;
	width:260px;
	background:#a4c5ce;
	padding:10px;
	font-family: 'Georgia', serif;
	color: #12718f;
}
#searchit input {
	display: inline-block;
}
.wrapper {
	width: 1024px;
	margin: auto;
	clear: both;
	display: block;
}
.button {
	padding: 10px;
	background: none;
	font-family: 'Georgia', serif;
	color: #12718f;
	text-decoration: none;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.button:hover {
	background: #12718f;
	color: white !important;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.button_small{
	padding: 2px;
}

#header .button{
	float:left;
}
#main{
	margin-bottom:40px;
	height:auto;
	overflow:hidden;
}

.personnage {
	background: #a4c5ce;
	float: left;
	margin: 20px;
	width: 27%;
	padding: 10px;
	position: relative;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.personnage img {
	float: left;
	width: 86px;
	height: 120px;
	margin-right: 20px;
}
.personnage .infos {
	float: left;
}
.personnage .infos p {
	top: 50px;
	position: relative;
}
.personnage .infos a {
	position: relative;
	top: 90px;
	text-decoration: none;
	color: #156f92;
	font-family: 'Georgia', serif;
}


.maison .infos a{
	padding: 5px;
	position: relative;
	top: 0px;
	left: 116px;
}
.maison .infos a:nth-child(4){
	/* En savoir + */
	position: absolute;
	top: 50px;
}
.maison .infos a:nth-child(5){
	/* Modifier */
	position: absolute;
	top: 77px;
}
.maison .infos a:nth-child(6){
	/* Supprimer */
	position: absolute;
	top: 104px;
	color: black !important;
}

.maison .infos a:last-child:hover{
	color: white !important;
	background: black;
}

#index .ribbon {
	width: 140px;
	height: 16px;
	color: white;
	position: absolute;
	font-size: 16px!important;
	background: #127092;
	font-family: 'Georgia', serif;
	padding: 10px;
	left: 105px;
	top: 10px;
}


#display .ribbon {
	width: 250px;
	height: 28px;
	color: white;
	position: absolute;
	font-size: 24px!important;
	background: #127092;
	font-family: 'Georgia', serif;
	padding: 10px;
	left: 220px;
	top: 20px;
}
#display .ribbon:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0em;
	border: 1em solid #127092;
	z-index: 0;
}
#display .ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}
.ribbon_large {
	width: 140px;
	height: 16px;
	color: white;
	position: absolute;
	font-size: 18px!important;
	background: #127092;
	padding: 10px;
}
.triangle_top{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 18px 18px 0 0;
	border-color: #127092 transparent transparent transparent;
	position: relative;
	left: 160px;
}
.triangle_bot{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 18px 0 0 18px;
	border-color: transparent transparent transparent #127092;
	position: relative;
	left: 160px;
}
#title{
	position: relative;
	left: 20px;
}
#title .ribbon_large{
	width: 250px;
	height: 20px;
}
#title .ribbon_large a{
	color: white;
}
#title .triangle_top{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #127092 transparent transparent transparent;
	position: relative;
	left: 270px;
}
#title .triangle_bot{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 0 20px;
	border-color: transparent transparent transparent #127092;
	position: relative;
	left: 270px;
}



/*single-personnage*/

.single-personnage{
	background:#a4c5ce;
	padding:20px;
	position:relative;
	height:auto;
	overflow:hidden;
}

.single-personnage .portrait{
	float:left;
	margin-right:20px;
	width: 180px;
	height: 265px;
}
.single-personnage .infos{
	float:left;
	width:50%;
}
.single-personnage .infos-inner{
	float:left;
}
.single-personnage .infos-inner p{
	font-size:24px;
	line-height:30px;
	color:#127092;
}
.single-personnage .infos-inner p:nth-child(2){
	/* Devise */
	position: absolute;
	top: 80px;
	left: 220px;
	font-style: italic;
	font-size:18px;
	line-height:20px;
}
.single-personnage .infos-inner p:nth-child(3){
	/* Emblème */
	position: absolute;
	top: 120px;
	left: 220px;
}
.single-personnage .infos-inner p:nth-child(4){
	/* Description */
	position: absolute;
	top: 190px;
	left: 220px;
	font-size:16px;
	line-height:18px;
	color: black;
}


.single-personnage .infos-inner a{
	position: relative;
	top: 80px;
	text-decoration: none;
	color: #156f92;
	font-family: 'Georgia', serif;
}
.single-personnage .infos-inner img{
	position:relative;
	top:180px;
}
.single-personnage .infos hr{
	position:absolute;
	left: 220px;
	top: 150px;
	width: 774px;
}
.skill p{
	color: black !important;
	top: 90px !important;
}
.single-personnage .actions{
	float:right;
}
.single-personnage .actions a{
	display:inline;
	position: relative;
	top: 10px;
}
.single-personnage .actions a:last-child{
	color: black !important;
}
.single-personnage .actions a:last-child:hover{
	color: white !important;
	background: black;
}

.single-personnage .biographie{
	font-size:16px;
	line-height:24px;
}
.single-personnage .onecomp{
	float:left;
	width:29%;
	margin:10px;
	background:#bad8e2;
	padding:10px;
}


.champ_formulaire input, select{
		height: 20px;
		width: 300px;
		margin: 10px;
		font-size: 16px;
}
.champ_formulaire textarea {
	height: 10em !important;
	max-height: 10em !important;
	width: 500px;
	margin: 10px;
	resize: none !important;
}
.champ_formulaire label{
	padding: 5px;
}
.champ_formulaire button{
	margin-top: 20px;
}
.champ_formulaire td:nth-child(2n+1){
	width: 150px;
}
.champ_formulaire select{
	width: 200px;
	height: 26px;
	font-size: 16px;
}
.champ_formulaire table{ 
	position: relative;
	left: 20px;
	top: 20px;
}
.champ_formulaire #form_skills input{
	width: 20px !important;
}
.delete{
	left: 20px;
}