/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*that's where the real shit begins*/

body {
  background: #d2e9f1;
  font-family: 'Arial', sans-serif;
}
hr{
    border:1px solid #12719d;
    margin: 20px 0px 20px 0px;
    width: 100%;
}
.row{
   display: block;
   clear: both;
   overflow: hidden;
}
header,footer {
  width: 100%;
  background-color: #B8D9E2;
  height: 80px;
  margin: 50px 0px;
  clear: both;
  padding-top: 40px;
}
#logo {
  margin: auto;
  width: 150px;
  background: red;
}
#searchit {
  float: right;
  width:260px;
  background:#a4c5ce;
  padding:10px;
  font-family: 'Georgia', serif;
  color: #12718f;
}
#searchit input {
  display: inline-block;
}
.wrapper {
  width: 1024px;
  margin: auto;
  clear: both;
  display: block;
}
.button {
  padding: 10px;
  background: none;
  font-family: 'Georgia', serif;
  color: #12718f;
  text-decoration: none;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.button:hover {
  background: #12718f;
  color: white;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#header .button{
  float:left;
}
#main{
  margin-bottom:40px;
  height:auto;
  overflow:hidden;
}

.personnage {
  background: #a4c5ce;
  float: left;
  margin: 20px;
  width: 27%;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.personnage img {
  float: left;
  width: 86px;
  margin-right: 20px;
}
.personnage .infos {
  float: left;
}
.personnage .infos p {
  top: 50px;
  position: relative;
}
.personnage .infos a {
  position: relative;
  top: 100px;
  text-decoration: none;
  color: #156f92;
  font-family: 'Georgia', serif;
}


#index .ribbon {
  width: 140px;
  height: 16px;
  color: white;
  position: absolute;
  font-size: 14px!important;
  background: #127092;
  font-family: 'Georgia', serif;
  padding: 10px;
  left: 105px;
  top: 10px;
}
#index .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0em;
  border: 1.3em solid #127092;
  z-index: 0;
}
#index .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}


#display .ribbon {
  width: 250px;
  height: 28px;
  color: white;
  position: absolute;
  font-size: 24px!important;
  background: #127092;
  font-family: 'Georgia', serif;
  padding: 10px;
  left: 200px;
  top: 20px;
}
#display .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0em;
  border: 1em solid #127092;
  z-index: 0;
}
#display .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}


/*single-personnage*/

.single-personnage{
  background:#a4c5ce;
  padding:20px;
  position:relative;
  height:auto;
  overflow:hidden;
}

.single-personnage .portrait{
  float:left;
  margin-right:20px;
}
.single-personnage .infos{
  float:left;
  width:50%;
}
.single-personnage .infos-inner{
  float:left;
}
.single-personnage .infos-inner p{
  position:relative;
  top:60px;
  font-size:24px;
  line-height:30px;
  color:#127092;
}
.single-personnage .infos-inner a{
  position: relative;
  top: 80px;
  text-decoration: none;
  color: #156f92;
  font-family: 'Georgia', serif;
}
.single-personnage .infos-inner img{
  position:relative;
  top:180px;
}
.single-personnage .actions{
  float:right;
}
.single-personnage .actions a{
  display:inline;
}
.single-personnage .biographie{
  font-size:16px;
  line-height:24px;
}
.single-personnage .onecomp{
  float:left;
  width:29%;
  margin:10px;
  background:#bad8e2;
  padding:10px;
}


.champ_formulaire{
    height: 20px;
    width: 300px;
}
#form_description{
    height: 4em !important;
    max-height: 60px !important;
    resize: none !important;
}
.label_formulaire{
  padding: 5px;
}