/web/bundles
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.*
UPGRADE*
LICENSE
README.md
src/Acme/*
*.swp
*.swo
*.php~


