{% extends '::base.html.twig' %}

{% block body %}

<!-- Suppression d'une maison -->
<div id="container_afficher_personnage">
    Etes vous sur de vouloir effacer la compétence "{{skill.getName()}}" ?
	{{ form(form) }}
</div>
    
{% endblock %}
            
