{% extends '::base.html.twig' %}

{% block body %}

<div id="container_afficher_personnage">
	<div class="bouton_editer_supp_ajouter"><a href="{{ path('omg_getlistsheet') }}">Personnage</a></div>
	<div class="bouton_editer_supp_ajouter"><a href="{{ path('omg_getlisthouse') }}">Maison</a></div>
	<div class="bouton_editer_supp_ajouter"><a href="{{ path('omg_getlistskill') }}">Compétence</a></div>
</div>

{% endblock %}