{% extends '::base.html.twig' %}

{% block body %}


<a href="{{ path('omg_getlistsheet') }}">Sheet</a>
<a href="{{ path('omg_getlisthouse') }}">House</a>
<a href="{{ path('omg_getlistskill') }}">Skill</a>



{% endblock %}